@import "just-the-docs-rtl"; 

body {
    direction: rtl;
    text-align: right;
    font-family: "Vazirmatn", "Tahoma", sans-serif;
  }

p, li, td, th, h1, h2, h3, h4, h5, h6 {
  unicode-bidi: plaintext;
}
